:root {
    --md-admonition-icon--command: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m6.354 8.04-4.773 4.773a.75.75 0 1 0 1.061 1.06L7.945 8.57a.75.75 0 0 0 0-1.06L2.642 2.206a.75.75 0 0 0-1.06 1.061L6.353 8.04zM8.75 11.5a.75.75 0 0 0 0 1.5h5.5a.75.75 0 0 0 0-1.5h-5.5z"/></svg>')
  }
  .md-typeset .admonition.command,
  .md-typeset details.command {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .command > .admonition-title,
  .md-typeset .command > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .command > .admonition-title::before,
  .md-typeset .command > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--command);
            mask-image: var(--md-admonition-icon--command);
  }
