<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.14/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.14/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.14/dist/js/uikit-icons.min.js"></script>
</head>



<body>
    <div id="app">
        <div class="uk-align-center uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div uk-grid>
                <div class="uk-width-1-3@m">
                    <span class="uk-card-title uk-align-center">
                        Tic-Tac-Toe Rooms
                    </span>
                </div>
                <div class="uk-width-expand@m uk-align-right">
                    <ul class="uk-iconnav">
                        <li><a href="#" uk-icon="icon: plus" @click="createNewRoom()"> New Room </a></li>
                        <li><a href="#" uk-icon="icon: refresh" @click="getRoomList()"> Refresh </a></li>
                    </ul>
                </div>
            </div>

            <template v-if="room_id == ''">
                <template v-if="rooms.length > 0" v-for="item in rooms" :key="item.id">
                    <div uk-grid>
                        <div class="uk-width-1-3@m">
                            <span class="uk-label uk-label-success uk-button-small">Waiting player</span>
                        </div>
                        <div class="uk-width-expand@m">
                            {{ item.name }}
                        </div>
                        <div class="uk-width-auto@m">
                            <button class="uk-button uk-button-secondary uk-button-small" @click="joinToRoom(item.id)">
                                <span uk-icon="play"></span>
                                Join
                            </button>
                        </div>
                    </div>
                    <hr class="uk-divider-icon">
                </template>

                <div v-else class="uk-alert-primary" uk-alert>
                    <p>Opss, there is no room to join, but you can create new one.</p>
                </div>
            </template>

            <template v-else>
                <div class="uk-column-1-3" style="width: 400px;">

                    <div class="uk-margin" v-for="(item, index) in board">
                        <a href="#" class="uk-icon-link" @click="play(index)">
                            <div class="uk-card uk-card-default uk-card-body"
                                v-bind:class="{ 'uk-background-primary uk-light': item != '&nbsp;' }">
                                <span v-html="item"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </template>
        </div>

    </div>
    <script>
        const YUMMY_MESSAGE_TYPE = {
            AuthCustomId: "AuthCustomId",
            RoomCreated: "CreateRoom",
            MessageFromRoom: "MessageFromRoom",
            RoomList: "RoomList",
            JoinToRoom: "JoinToRoom"
        };

        class YummyClient {
            constructor(url) {
                this.url = url;
                this.connected = false;
                this.authenticated = false;
                this.token = "";
                this.callbacks = {};
                this.on_callbacks = {};
                this.indexer = 0;
            }

            connect(func) {
                this.connection = new WebSocket(this.url);
                this.connection.onopen = () => {
                    this.connected = true;
                    func()
                };

                this.connection.onmessage = (event) => {
                    const message = JSON.parse(event.data);

                    if (message.request_id in this.callbacks) {
                        this.callbacks[message.request_id](message.status, message);
                    }

                    if (message.type in this.on_callbacks) {
                        this.on_callbacks[message.type](message);
                    }
                    
                    if (message.type == "Authenticated") {
                        this.authenticated = true;
                        this.token = message.token;
                    }
                };
                
            }

            get isConnected() {
                return this.connected;
            }

            get isAuthenticated() {
                return this.authenticated;
            }

            on(message_type, func) {
                this.on_callbacks[message_type] = func;
            }

            authViaCustomId(id, func) {
                this.#sendMessage({
                    "type": "AuthCustomId",
                    "id": id
                }, {}, func);
            }

            createRoom(extend, func) {
                this.#sendMessage({ "type": "CreateRoom" }, extend, func);
            }

            roomList(func) {
                this.#sendMessage({ "type": "RoomList" }, {}, func);
            }
            
            messageToRoom(room_id, extend) {
                this.#sendMessage({ "type": "MessageToRoom", "room_id": room_id }, extend);
            }
            
            joinToRoom(room_id, func) {
                this.#sendMessage({ "type": "JoinToRoom", "room_id": room_id }, {}, func);
            }

            roomDisconnect(room_id, func) {
                this.#sendMessage({ "type": "RoomDisconnect", "room_id": room_id }, {}, func);
            }

            play(room_id, message, func) {
                this.#sendMessage({ "type": "Play", "room_id": room_id, "message": message }, {}, func);
            }

            #sendMessage(message, extend, func) {
                if (this.isConnected) {
                    let new_message = Object.assign(message, extend);
                    new_message.request_id = ++this.indexer;
                    this.connection.send(JSON.stringify(new_message));

                    if (func)
                        this.callbacks[message.request_id] = func;
                }
            }
        }

        const URL = "ws://127.0.0.1:9090/v1/socket?x-yummy-api=YummyYummy";

        var app = new Vue({
            el: '#app',
            data: {
                client: new YummyClient(URL),
                slot: 0,
                game_started: false,
                my_turn: false,
                my_mark: '-',
                custom_id: "",
                room_id: "",
                rooms: [],
                board: ["&nbsp;", "&nbsp;", "&nbsp;",
                        "&nbsp;", "&nbsp;", "&nbsp;",
                        "&nbsp;", "&nbsp;", "&nbsp;"
                ]
            },

            methods: {

                socketConnected() {
                    /** @type {YummyClient} */
                    const socket = this.client;
                    socket.on("MessageFromRoom", this.onMessageFromRoom.bind(this));
                    socket.on("Play", this.onPlay.bind(this));

                    socket.authViaCustomId(this.custom_id, (status, data) => {
                        if (status == false) {
                            UIkit.notification({ message: data.error, status: 'danger' });
                            return;
                        }

                        this.getRoomList();
                        console.log("authViaCustomId");
                    });
                },

                getRoomList() {
                    /** @type {YummyClient} */
                    const socket = this.client;
                    socket.roomList((status, data) => {
                        if (status == false) {
                            UIkit.notification({ message: data.error, status: 'danger' });
                            return;
                        }

                        app.rooms = data.rooms;
                        console.log("roomList");
                    });
                },

                createNewRoom() {
                    /** @type {YummyClient} */
                    const socket = this.client;
                    socket.createRoom({ "name": this.custom_id + "'s room" }, (status, data) => {
                        if (status == false) {
                            UIkit.notification({ message: data.error, status: 'danger' });
                            return;
                        }

                        app.room_id = data.room_id;
                        console.log("createRoom");
                    });
                },

                joinToRoom(room_id) {
                    /** @type {YummyClient} */
                    const socket = this.client;
                    socket.joinToRoom(room_id, (status, data) => {
                        if (status == false) {
                            UIkit.notification({ message: data.error, status: 'danger' });
                            return;
                        }

                        app.room_id = data.room_id;
                        console.log("joinToRoom");
                    });
                },

                onMessageFromRoom(message) {
                    if (message.message.type == "Start") {
                        this.game_started = true;
                        this.my_mark = message.message.mark;
                        this.my_turn = message.message.mark == message.message['next-mark'];
                    } else {
                        if (message.message.type == "Win" ||
                            message.message.type == "Lose" || 
                            message.message.type == "Draw") {

                                /** @type {YummyClient} */
                                const socket = this.client;
                                socket.roomDisconnect(this.room_id, () => {
                                    setTimeout(() => {
                                        this.slot = 0;
                                        this.game_started = false;
                                        this.my_turn = false;
                                        this.my_mark = '-';
                                        this.room_id = "";
                                        this.board = ["&nbsp;", "&nbsp;", "&nbsp;",
                                                      "&nbsp;", "&nbsp;", "&nbsp;",
                                                      "&nbsp;", "&nbsp;", "&nbsp;"]
                                    }, 1000)
                                });
                                
                                UIkit.modal.alert(message.message.type);
                            }
                    }

                    console.log("MessageFromRoom");
                },

                onPlay(message) {
                    if (message.status == false) {
                        UIkit.notification({ message: data.error, status: 'danger' });
                        return;
                    }

                    if (this.my_turn) {
                        Vue.set(this.board, this.slot, this.my_mark);
                    } else {
                        if (this.my_mark == "X")
                            Vue.set(this.board, message.message, "O");
                        else
                            Vue.set(this.board, message.message, "X");
                    }

                    this.my_turn = !this.my_turn;
                    console.log("play");
                },

                play(slot) {
                    if (!this.my_turn) return;

                    /** @type {YummyClient} */
                    const socket = this.client;
                    this.slot = slot;
                    socket.play(this.room_id, slot);
                }
            },

            created() {
                /** @type {YummyClient} */
                const socket = this.client;

                this.custom_id = "USER-" + window.crypto.getRandomValues(new Uint32Array(1))[0].toString(8);
                socket.connect(this.socketConnected.bind(this));
            },
        });

    </script>
</body>

</html>