<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.14/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.14/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.14/dist/js/uikit-icons.min.js"></script>
</head>



<body>
    <div id="app">
        <div class="uk-align-center uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div uk-grid>
                <div class="uk-width-1-3@m">
                    <span class="uk-card-title uk-align-center">
                        Tic-Tac-Toe Rooms
                    </span>
                </div>
                <div class="uk-width-expand@m uk-align-right">
                    <ul class="uk-iconnav">
                        <li><a href="#" uk-icon="icon: plus" @click="create_new_room()"> New Room </a></li>
                        <li><a href="#" uk-icon="icon: refresh" @click="room_list()"> Refresh </a></li>
                    </ul>
                </div>
            </div>

            <template v-if="room_id == ''">
                <template v-if="rooms.length > 0" v-for="item in rooms" :key="item.id">
                    <div uk-grid>
                        <div class="uk-width-1-3@m">
                            <span class="uk-label uk-label-success uk-button-small">Waiting player</span>
                        </div>
                        <div class="uk-width-expand@m">
                            {{ item.name }}
                        </div>
                        <div class="uk-width-auto@m">
                            <button class="uk-button uk-button-secondary uk-button-small" @click="jon_to_room(item.id)">
                                <span uk-icon="play"></span>
                                Join
                            </button>
                        </div>
                    </div>
                    <hr class="uk-divider-icon">
                </template>

                <div v-else class="uk-alert-primary" uk-alert>
                    <p>Opss, there is no room to join, but you can create new one.</p>
                </div>
            </template>

            <template v-else>
                <div class="uk-column-1-3" style="width: 400px;">

                    <div class="uk-margin" v-for="(item, index) in board">
                        <a href="#" class="uk-icon-link" @click="play(index)">
                            <div class="uk-card uk-card-default uk-card-body"
                                v-bind:class="{ 'uk-background-primary uk-light': item != '&nbsp;' }">
                                <span v-html="item"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </template>
        </div>

    </div>
    <script>
        const YUMMY_MESSAGE_TYPE = {
            Authenticated: "Authenticated",
            RoomCreated: "RoomCreated",
            MessageFromRoom: "MessageFromRoom",
            RoomList: "RoomList",
            UserJoinedToRoom: "UserJoinedToRoom",
            JoinToRoom: "JoinToRoom"
        };

        class YummyClient {
            constructor(url) {
                this.url = url;
                this.connected = false;
                this.authenticated = false;
                this.token = "";
                this.callbacks = {};
            }

            connect() {
                this.connection = new WebSocket(this.url);
                this.connection.onopen = () => this.connected = true;
                this.connection.onmessage = (event) => {
                    const message = JSON.parse(event.data);

                    if (message.type == "Authenticated") {
                        this.authenticated = true;
                        this.token = message.token;
                    }
                };
                
            }

            get isConnected() {
                return this.connected;
            }

            get isAuthenticated() {
                return this.authenticated;
            }

            on(type, func) {
                this.callbacks[type] = func;
            }

            authViaCustomId(id) {
                this.#sendMessage({
                    "type": "AuthCustomId",
                    "id": id
                });
            }

            createRoom(extend) {
                this.#sendMessage({ "type": "CreateRoom" }, extend);
            }

            roomList(extend) {
                this.#sendMessage({ "type": "RoomList" }, extend);
            }
            
            messageToRoom(room_id, extend) {
                this.#sendMessage({ "type": "MessageToRoom", "room_id": room_id }, extend);
            }
            
            joinToRoom(room_id, extend) {
                this.#sendMessage({ "type": "JoinToRoom", "room_id": room_id }, extend);
            }

            play(room_id, message) {
                this.#sendMessage({ "type": "MessageToRoom", "room_id": room_id, "message": message });
            }

            #sendMessage(message, extend) {
                if (this.connected()) {
                    this.connection.send(JSON.stringify(Object.assign(message, extend)));
                }
            }
        }

        const URL = "ws://127.0.0.1:9090/v1/socket?x-yummy-api=YummyYummy";
        let SEND_MESSAGE_TYPE = {
            PLAY: 1
        };

        var app = new Vue({
            el: '#app',
            data: {
                client: new YummyClient(URL),
                slot: 0,
                game_started: false,
                connection: "",
                custom_id: "",
                room_id: "",
                rooms: [],
                board: ["&nbsp;", "&nbsp;", "&nbsp;",
                    "&nbsp;", "&nbsp;", "&nbsp;",
                    "&nbsp;", "&nbsp;", "&nbsp;"
                ]
            },

            methods: {
                create_new_room() {
                    this.connection.send(JSON.stringify({
                        "type": "CreateRoom",
                        "name": this.custom_id + "'s room"
                    }));
                },
                room_list() {
                    this.connection.send(JSON.stringify({
                        "type": "RoomList"
                    }));
                },
                jon_to_room(room_id) {
                    this.connection.send(JSON.stringify({
                        "type": "JoinToRoom",
                        "room_id": room_id
                    }));
                },
                get_point(index) {
                    return this.board[index];
                },
                slot_used(index) {
                    return this.board[index] != "&nbsp;";
                },
                play(slot) {
                    this.slot = slot;
                    this.connection.send(JSON.stringify({
                        "type": "Play",
                        "room_id": this.room_id,
                        "message": slot
                    }));
                },
                send_message(index, message) {
                    this.connection.send(JSON.stringify({
                        "type": "MessageToRoom",
                        "room_id": this.room_id,
                        "message": message
                    }));
                    Vue.set(this.board, index, slot)
                }
            },

            created() {
                let connection = new WebSocket(URL);
                connection.onopen = () => {
                    this.custom_id = "USER-" + window.crypto.getRandomValues(new Uint32Array(1))[0].toString(8);
                    connection.send(JSON.stringify({
                        "type": "AuthCustomId",
                        "id": this.custom_id
                    }));
                };

                connection.onmessage = (event) => {
                    const message = JSON.parse(event.data);
                    if (message.status == false) {
                        UIkit.notification({ message: message.error, status: 'danger' });
                        return;
                    }

                    if (message.request_id == SEND_MESSAGE_TYPE.PLAY) {
                        Vue.set(this.board, this.index, slot)
                    }

                    switch (message.type) {
                        case "Authenticated": {
                            // Update user
                            connection.send(JSON.stringify({
                                "type": "UpdateUser",
                                "name": this.custom_id,
                            }));

                            // Get room list
                            this.room_list();
                            break;
                        }

                        case "RoomList": {
                            app.rooms = message.rooms;
                            break;
                        }

                        case "JoinToRoom":
                        case "RoomCreated": {
                            this.room_id = message.room_id;
                            break;
                        }

                        case "MessageFromRoom": {

                            Vue.set(this.board, message.message.slot, "X")
                            break;
                        }
                    }
                    console.log(message)
                };

                this.connection = connection;
            },
        });

    </script>
</body>

</html>